body {
margin: 0;
font-family: 'Helvetica Neue', sans-serif;
background-color: #e2d9ca;
color: #141313;
}
header {
background: #EB9830;
color: #141313;
padding: 1em;
text-align: center;
}
nav a {
color: #141313;
margin: 0 10px;
text-decoration: none;
}
nav a:hover {
text-decoration: underline;
}
h1 {
font-size: 2.5em;
margin: 0.5em 0;
text-align: center;
}
h2 {
font-size: 1.5em;
margin: 0.5em 0;
text-align: center;
}
h3 {
font-size: 1.2em;
margin: 0.5em 0;
text-align: center;
}
p {
line-height: 1.6;
margin: 1em 0;
text-align: center;
}
/* Grid Gallery */
.grid-gallery {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 1.5em;
padding: 2em;
}
.grid-gallery div {
text-align: center;
}
.grid-gallery img {
width: 100%;
border-radius: 8px;
transition: transform 0.2s ease;
}
.grid-gallery img:hover {
transform: scale(1.05);
}

code {
  font-family: 'Helvetica Neue', sans-serif;
}
.info-sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  padding: 2em;
  background: #EB9830
}
.info-sections div {
  background: #f4d7ac;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.carousel {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  object-fit: contain;
}
/* Slide Indicators */
/* Buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.prev { left: 10px; }
.next { right: 10px; }
/* about */
.map-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 aspect ratio (450/800) */
            height: 0;
            overflow: hidden;
 }
.map-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 75%;
            border: 0;
 }


footer {
background: #EB9830;
color: #141313;
text-align: center;
padding: 1em;
}